<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">เกี่ยวกับ</h4>
            <p class="text-muted">ทดสอบการใช้ docker สร้างcontainerและhost project</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">ติดต่อ</h4>
            <ul class="list-unstyled">
              <li><a href="https://www.facebook.com/profile.php?id=100009453533541" target="_blank" class="text-white">Like on Facebook</a></li>
            </ul>
            <ul class="list-unstyled">
              <li><a href="https://www.instagram.com/mon_throwgame.t_t/" target="_blank" class="text-white">Like on instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="http://{{maindns}}:{{flaskserverport}}/" class="navbar-brand d-flex align-items-center">
          <strong>MINISERVER DOCKER TOOLS</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
</header>